<html>
  <head>
    <title>Lab in the Cloud - Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/cslib/admin/admin.css" />
<%
if (styles) { 
  styles.forEach((style) => { 
%>
    <link rel="stylesheet" href="<%= style %>" />
<%
  })
} 
%>
  </head>
  <body class="litc-admin">
    <nav class="navbar navbar-expand-lg navbar-dark litc-navbar" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/admin">
          Lab in the Cloud | Admin
        </a>
<% if (context.get('currentUser')) { %>
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/admin">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/labs">Labs</a></li>
  <% if (context.get('currentUserRoles').includes('admin')) { %>
          <li class="nav-item"><a class="nav-link" href="/admin/users">Users</a></li>
  <% } %>
        </ul>
<% } %>
        <ul class="nav navbar-nav ml-auto">
<% if (context.get('currentUser')) { %>
          <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= context.get('currentUser').email %></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/admin/account">Account</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/admin/logout">Log Out</a>
            </div>
          </li>
<% } else { %>
          <li class "nav-item"><a class="nav-link" href="/admin/login">Log In</a></li>
<% } %>
        </ul>
      </div>
    </nav>
    <main>
      <div class="container">
<% if (messages) {
  messages.forEach((msg) => { %>
        <div class="alert alert-<%= msg.type %>"><%= msg.text %></div>
<%  })
} %>
<%
if (breadcrumb) {
%>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
<%  
  breadcrumb.forEach((crumb, ind) => {
    var isLast = ind == breadcrumb.length - 1;
    if (isLast) {
%>
            <li class="breadcrumb-item active"><%= crumb.label %></li>
<%
    } else {
%>
            <li class="breadcrumb-item"><a href="<%= crumb.url %>"><%= crumb.label %></a></li>
<%      
    }
  })
%>
          </ol>
        </nav>
<%
}
%>