<% include ../../partials/head %>
<div class="d-flex align-items-center">
  <h1><%= title %></h1>
  <% if (allowCreate) { %>
  <div class="ml-auto">
    <a href="/admin/studentgroup/create" class="btn btn-primary">Create new Project</a>
  </div>
  <% } %>
</div>
<div class="container paginated-list">
  <div class="row">
    <div class="col">
      <div class="list-group">
      <% studentGroups.forEach((group) => { %>
        <div class="list-group-item list-group-item-action d-flex align-items-center">
          <div class="user-index-link"><%= group.name %></div>
          <div class="list-buttons ml-auto btn-group" role="group">
            <a href="/admin/studentgroup/<%= group.id %>" class="btn btn-outline-primary btn-small">Info</a>
            <a href="/admin/studentgroup/<%= group.id %>/edit" class="btn btn-outline-primary btn-small">Edit</a>
            <a href="/admin/studentgroup/<%= group.id %>/delete" class="btn btn-outline-danger btn-small">Delete</a>
          </div>
        </div>
      <% }) %>
      </div>
    </div>
  </div>
<%- include('../../partials/pagination', pagination) %>
</div>
<% include ../../partials/foot %>