<% include ../../partials/head %>
<div class="d-flex align-items-center">
  <h1><%= title %></h1>
  <div class="ml-auto btn-group" role="group">
    <a href="/admin/studentgroup/<%= studentGroup.id %>/edit" class="btn btn-outline-primary">Edit</a>
    <a href="/admin/studentgroup/<%= studentGroup.id %>/delete" class="btn btn-outline-danger">Delete</a>
  </div>
</div>
<div class="container">
  <h2>Labs</h2>
  <ul class="list-group">
<% studentGroup.labs.forEach((lab) => { %>
    <div class="list-group-item list-group-item-action d-flex align-items-center">
      <div class="user-index-link"><%= lab.title %></div>
      <div class="list-buttons ml-auto btn-group" role="group">
        <a href="<%= `/lab/${userPath}/${studentGroup.path}/${lab.path}` %>" class="btn btn-outline-primary btn-small">Visit</a>
        <a href="/admin/lab/<%= lab.id %>" class="btn btn-outline-primary btn-small">Edit</a>
      </div>
    </div>
<% }) %>
  </ul>
</div>
<% include ../../partials/foot %>