<% include ../../partials/head %>
<h1>Users</h1>
<div class="container paginated-list">
  <div class="row">
    <div class="col">
      <div class="list-group">
      <% users.forEach((user) => { %>
        <div class="list-group-item list-group-item-action d-flex align-items-center">
          <div class="user-index-link"><%= user.email %></div>
          <div class="list-buttons ml-auto btn-group" role="group">
            <a href="/admin/user/<%= user.id %>" class="btn btn-outline-primary btn-small">Edit</a>
            <a href="/admin/user/<%= user.id %>/labs" class="btn btn-outline-primary btn-small">Labs</a>
            <a href="/admin/user/<%= user.id %>/studentgroups" class="btn btn-outline-primary btn-small">Student Groups</a>
          </div>
        </div>
      <% }) %>
      </div>
    </div>
  </div>
<%- include('../../partials/pagination', pagination) %>
</div>
<% include ../../partials/foot %>