<% include ../../partials/head %>
<h1>Edit User: <%= user.email %></h1>
<div class="container">
  <form method="post" action="/admin/user/<%= user.id %>">
    <h3>Roles</h3>
    <div class="form-group">
  <% roles.forEach((role) => { %>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="role-<%= role.id %>" name="role[]" value="<%= role.id %>"<%= userRoles.includes(role.id) ? " checked" : "" %>>
        <label class="custom-control-label" for="role-<%= role.id %>"><%= role.name %></label>
      </div>
  <% }) %>
    </div>
    <div class="d-flex">
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/admin/user/<%= user.id %>/delete" class="btn btn-danger ml-auto">Delete user</a>
    </div>
  </form>
</div>
<% include ../../partials/foot %>