<% include ../../partials/head %>
<!-- <h1><%= title %></h1> -->
<div class="container edit-lab-form__container">
<!--   <form method="post" action="/admin/lab/create">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" name="title" id="title" value="<%= lab.title %>" />
    </div>
    <div class="form-group">
      <label for="path">Lab URL</label>
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text">http://labinthecloud.stanford.edu/labs/</span></div>
        <input class="form-control" type="text" name="path" id="path" value="<%= lab.path %>" />
      </div>
    </div>
    <div class="d-flex">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form> -->
</div>
<%
scripts.push('/cslib/admin/lab/form.js');
%>
<script>
  window.AppConfig = {
    title: "<%= title %>",
    data: <%= JSON.stringify(lab) %>
  }
</script>
<% include ../../partials/foot %>