<html>
  <head>
    <title>Lab in the Cloud</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/cslib/public/style.css" />
<%
if (styles) { 
  styles.forEach((style) => { 
%>
    <link rel="stylesheet" href="<%= style %>" />
<%
  })
} 
%>
  </head>
  <body class="litc">
    <div class="litc-container">
    <nav class="navbar navbar-expand-lg navbar-dark litc-navbar" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/admin">
          Lab in the Cloud
        </a>
      </div>
    </nav>
    <main>
      <div class="container">
<% if (messages) {
  messages.forEach((msg) => { %>
        <div class="alert alert-<%= msg.type %>"><%= msg.text %></div>
<%  })
} %>
<%
if (breadcrumb) {
%>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
<%  
  breadcrumb.forEach((crumb, ind) => {
    var isLast = ind == breadcrumb.length - 1;
    if (isLast) {
%>
            <li class="breadcrumb-item active"><%= crumb.label %></li>
<%
    } else {
%>
            <li class="breadcrumb-item"><a href="<%= crumb.url %>"><%= crumb.label %></a></li>
<%      
    }
  })
%>
          </ol>
        </nav>
<%
}
%>